@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
.App {
  text-align: center;
}

input {
  border-top: hidden;
  width: 50vw;
  border-left: hidden;
  border-right: hidden;
  text-align: center;
  padding-top: 15vh;
  font-size: 1.8em;
}

input::placeholder {
  text-align: center;
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

.selector {
  position: absolute;
  right: -50em;
  top: 3em;
}

.hide {
  display: none;
}

.calculate {
  position: absolute;
  top: 60%;
  right: 48%;
}

.result {
  text-align: center;
  padding-top: 10%;
  position: relative;
}
